/* Static stylesheet */
h1 {
    color: green;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

td {
    padding: 10px
}

html {
    background-color: white;
}

#addTask 
{
    padding-left: 40%;
}

#minusButton
{
    border-radius: 50%;
}

#plusButton
{
    border-radius: 50%;
}

#text1:hover {
    fill: #DDADCCBC;
}

#uploadFileDiv {
    width: 600px;
    height: 300px;
    background-color: gray;
    text-align: center;
    justify-content: center;
    margin: auto;
}

#signInAndRegistration {
    width: 600px;
    height: 300px;
    background-color: gray;
    text-align: center;
    justify-content: center;
    margin: auto;
}

#myBtnDiv {
    width: 600px;
    height: 300px;
    background-color: dodgerblue;
    text-align: center;
    justify-content: center;
    margin: auto;
}
body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

#pageUpBarDiv {
    width: 100%;
    height: 100px;
    background-color: black;
}

#pageDownBarDiv {
    width: 100%;
    height: 100px;
    background-color: black;
    bottom: 100px;
    color: white;
    text-align: center;
}

#outputDiv {
    width: 80%;
    height: 75%;
    background-color: #5cb85c;
    text-align: center;
    justify-content: center;
    margin: auto;
}

#output {
    font-size: 45px;
    /*width: 50%;*/
    /*height: 70%;*/
    background-color: #5cb85c;
    text-align: center;
    justify-content: center;
    margin: auto;
}